.logout{
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    height: 50%;
    color: black;
    padding: 2px 6px;
    margin-left: 20px;
    cursor: pointer;
}
@media (max-width: 678px) {
    .logout{
        margin-left: 0;
    }
   }