.container{
 padding: 15px;
 margin: auto;
 display: grid;
 grid-template-columns: repeat(auto-fill,minmax(350px,1fr));

}
.row{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 12px;
    align-items: center;
    gap: 60px;
    border: 2px solid rgb(36, 35, 35);
    margin: 25px;
    border-radius: 5px;
}
