.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    border: 2px solid #53c28b;
    padding: 0 8px;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    
}
.switcher{
    position: absolute;
    width: 20px;
    background-color: #53c28b;
    border-radius: 50%;
    height: 20px;
    right: 2px;
}